#h3_about{
    background-color:  #ffffff;
    background-image: linear-gradient(to right, transparent 0%, #ffffff 100%);
    border-radius: 10px;
    width: 40vh;
    height: 0.313rem;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}
#Ab_h1{
    color: white;
}
.About_all_cont{
    padding-left: 8vw;
    padding-top: 1vh;
    padding-bottom: 10vh;
}
#p_about{
    color: white;

}